body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f8ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titlewrapper{
  text-align: center;
  font-size: 35px;
  color: #7480bc;
  margin-top: 50px;
  margin-right: 20px;
  
}

.addtask{
  background-color: #5971ee;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 8%;
  font-size: 20px;
  transition-duration: 0.3s;
  color: white;
  border-color: #5971ee;
  cursor: pointer;
  margin-left: 204px;
}

.taskUIwrapper{
  background-color: #ecedf7;
  border-radius: 15px;
  margin: -20px;
  margin-left: 200px;
  margin-right: 200px;
}

.eachtaskwrapper {
  background-color: white;
  padding: 1px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  border-radius: 5px;
}

.addtask:hover{
  background-color: white;
  color: black;
}

.searchwrapper{
  margin-right: 200px;
  padding: 10px;
}



.ModalPopup{
  width: 800px;
  height: 500px;
  background-color:#ecedf7;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  
}

.ModalPopup h1{
  color: #7480bcdf;
  margin-left: 30px;
}

.ModalPopup h2{
  margin-left: 30px;
  margin-top: 40px;
  color: #7480bcb9
}



/* Dropdown for day smaller then task input, this is for that*/

.mainbuttons {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
}

.daylabel{
  margin-left: 30px;
  text-decoration: underline;
}



/*popup css below*/

.ModalInputTask{
  margin-left: 30px;
  width: 730px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #7480bc;
  font-size: large;
  padding-left: 10px;
  font-weight:550;
}

.ModalInputDay{
  margin-left: 30px;
  width: 746px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #7480bc;
  font-size: large;
  padding-left: 10px;
  font-weight:550;
  
}


.AddTaskSubmitButton{
  margin-left: 30px;
  margin-top: 30px;
  width: 747px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #7480bc;
  font-size: large;
  background-color: #5971ee;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}

.closemodal{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #7480bc;
  cursor: pointer;
  font-size: 20px;
  
}





