body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titlewrapper{
  text-align: center;
  font-size: 35px;
  color: #034f84;
  margin-top: 50px;
  
}

.searchwrapper{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 200px;
  margin-right: 200px;
}


.addtask{
  background-color: #5585b5;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8%;
  font-size: 18px;
  transition-duration: 0.3s;
  color: white;
  border-color: #5585b5;
  box-shadow: 0 5px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;

}

.addtask:hover{
  background-color: white;
  color: black;
}

.modalwrap{
  font-size: 30px;
}

.addtask{
  display: flex;
  justify-content: center;
  margin-left: 2;
}