body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8ff;
}

code {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
  text-align: center;
  font-size: 70px;
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #7a7dcb;
  font-family: 'Courier New', Courier, monospace;
  
}

.addtask{
  background-color: #646fef;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 8%;
  font-size: 20px;
  transition-duration: 0.3s;
  color: white;
  border-color: #5971ee;
  cursor: pointer;
  margin-left: 453px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.taskbox{
  background-color: #ecedf7;
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 450px;
  margin-right: 450px;
  padding: 10px;


}


.addtask:hover{
  background-color: white;
  color: black;
}



#tasktext{
  font-weight: 400;
  font-size: 16px;
}




/* Dropdown for day smaller then task input, this is for that*/

.mainbuttons {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
}

.daylabel{
  color: #545353;
  margin-left: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tasksULwrap{
  display: block;
  list-style-type: none;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 0;
  
}

.todoitem{
  position: relative;
  font-size: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #7480bc;
  display: flex;
  font-size: 17px;
  font-weight:normal;
  color: #747474;
  box-shadow: 1px 1px 1px #7480bc;
  
  
}


.checkbox{
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  scale: 2.7;
  
  
}

.todoitem:hover{
  box-shadow: 1px 1px 2px 2px #5c6bb6;
}






/*popup css below*/

.ModalPopup{
  width: 800px;
  height: 500px;
  background-color:#ecedf7;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid #7480bc;
  
}

.ModalPopup h1{
  color: #616072;
  margin-left: 30px;
}

.ModalPopup h2{
  margin-left: 30px;
  margin-top: 40px;
  color: #767785
}

.ModalInputTask{
  margin-left: 30px;
  width: 730px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #7480bc;
  font-size: large;
  padding-left: 10px;
  font-weight:550;
}

.ModalInputDay{
  margin-left: 30px;
  width: 746px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #7480bc;
  font-size: large;
  padding-left: 10px;
  font-weight:550;
  
}


.AddTaskSubmitButton{
  margin-left: 30px;
  margin-top: 30px;
  width: 747px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #7480bc;
  font-size: large;
  background-color: #5971ee;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}


/* x button, overengineered but it works */
.closemodal {
  position: absolute;
  right: 3px;
  top: -50px;
  width: 40px;
  height: 40px;
  opacity: 0.3;
}
.closemodal:hover {
  opacity: 1;
  cursor: pointer;
}
.closemodal:before, .closemodal:after {
  position: absolute;
  top: 8px;
  left: 17px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.closemodal:before {
  transform: rotate(45deg);
}
.closemodal:after {
  transform: rotate(-45deg);
}



